<div class="container">
  <h1>Ask A Question</h1>
  <p class="lead">
    
      </p>
      <p>
      	<div class="gray">
    <input type="text" tabindex="1" autofocus autofocus="true" value="" placeholder="Ex. What type of permit do I need for..." name="Question" class="top form-control" ng-model="question"/> </p>
    <p><a class="btn btn-sm btn-primary" ng-click="save()">Find similar questions</a></p>
   
</p>
</div>
<hr size="40">
<p>
<div class="dropdown">
  <button class="btn btn-lg dropdown-toggle btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Find your question
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Q1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Q2</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Q3</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Q4</a></li>
  </ul>
</div>
</p>
  <p><a class="btn btn-lg btn-success" ng-click="save()">Submit your question</a></p>
</div>

